.container{
    border: solid 3px black;
    height: 960px;
    width: 960px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

body{
    text-align: center;
    background-color: bisque;
}